

.job-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  width: 280px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}


.job-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e3a8a;
  margin-bottom: 0.5rem;
}
.job-card-date {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 0.5rem;
}
.job-card-description {
  font-size: 0.95rem;
  color: #374151;
  margin-top: 0.5rem;
}
.job-card-company-location {
  font-size: 0.95rem;
  color: #4b5563;
}

@media (max-width: 768px) {

  .job-card {
    width: 85vw;
  }
}
.location-icon{
  margin-right: 0.5rem;
  color: #3b82f6;
  vertical-align: middle;
  font-size: 1rem;
}

.calendar-icon {
  margin-right: 0.5rem;
  color: #3b82f6;
  vertical-align: middle;
  font-size: 1rem;
}
.job-icon {
  margin-right: 0.5rem;
  color: #3b82f6;
  vertical-align: middle;
  font-size: 1rem;
}
.email-icon {
  margin-right: 0.5rem;
  color: #3b82f6;
  vertical-align: middle;
  font-size: 1rem;
}


.apply-button {
  display: block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 40%;
  text-align: center;
}

.apply-button:hover {
  background-color: #2563eb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
