.form-input{
    width: 100%;
    max-width: 500px;
    padding: 10px 14px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 999px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}
.form-input:focus {
    border-color: #3b82f6;
}


@media (max-width: 600px){
.form-input {
    max-width: 100%;
    font-size: 0.95rem;
    padding: 10px 12px;
  }
}